필요한 모듈 다운로드

In [221]:
# Ignoring unnecessory warnings
import warnings
warnings.filterwarnings("ignore")

# basic
import string
import pandas as pd
import numpy as np
import contractions
import re

#Natural language processing tool-kit
import nltk
from nltk import pos_tag
from nltk.corpus import stopwords, wordnet
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer, LancasterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
#nltk.download('stopwords')
#nltk.download('punkt')
#nltk.download('wordnet')

데이터 불러오기

In [222]:
df = pd.read_csv("Dongdaemun Design Plaza.csv")
print(df)

      Unnamed: 0  STAR                                            CONTENT
0              0   4.0                        a summer resort in the city
1              1   5.0  2 expositions absolument divine en 2 heures Do...
2              2   5.0   Exhibition Name Tim Burton Special Exhibition...
3              3   5.0    Tim Burton exhibit was incredible Awesome place
4              4   5.0   You can see everything about Tim Burton Great...
...          ...   ...                                                ...
1118        1118   4.0  State-of-the-art design, surely one of its kin...
1119        1119   5.0  Loved the lit LED roses, thousands of them. An...
1120        1120   5.0  It is a modern and amazed architesture and it ...
1121        1121   4.0  Its unique design is an attraction. It's nice ...
1122        1122   4.0  Went here around sunset time. Loved how the su...

[1123 rows x 3 columns]

In [223]:
#열 삭제 
df = df.loc[:,['STAR','CONTENT']]

In [224]:
# Converting Score values
df["score"]=(df['STAR']>3.0)
df=df.replace(True,1)
df=df.replace(False,0)
print(df['score'].sum())
df

957

      STAR                                            CONTENT  score
0      4.0                        a summer resort in the city      1
1      5.0  2 expositions absolument divine en 2 heures Do...      1
2      5.0   Exhibition Name Tim Burton Special Exhibition...      1
3      5.0    Tim Burton exhibit was incredible Awesome place      1
4      5.0   You can see everything about Tim Burton Great...      1
...    ...                                                ...    ...
1118   4.0  State-of-the-art design, surely one of its kin...      1
1119   5.0  Loved the lit LED roses, thousands of them. An...      1
1120   5.0  It is a modern and amazed architesture and it ...      1
1121   4.0  Its unique design is an attraction. It's nice ...      1
1122   4.0  Went here around sunset time. Loved how the su...      1

[1123 rows x 3 columns]

In [225]:
df["CONTENT"]

0                             a summer resort in the city
1       2 expositions absolument divine en 2 heures Do...
2        Exhibition Name Tim Burton Special Exhibition...
3         Tim Burton exhibit was incredible Awesome place
4        You can see everything about Tim Burton Great...
                              ...
1118    State-of-the-art design, surely one of its kin...
1119    Loved the lit LED roses, thousands of them. An...
1120    It is a modern and amazed architesture and it ...
1121    Its unique design is an attraction. It's nice ...
1122    Went here around sunset time. Loved how the su...
Name: CONTENT, Length: 1123, dtype: object

토큰화 & 불용어 제거

In [226]:
def text_clearing(text):
    text = text.lower()
    text = re.sub('[^ a-z A-Z 0-9]+',' ',str(text))
    text = [word.strip(string.punctuation) for word in text.split()]
    stop = stopwords.words('english')
    text = [x for x in text if x not in stop]
    text = [t for t in text if len(t)>0]
    pos_tags = pos_tag(text)
    text = [t for t in text if len(t)>1]
    text = " ".join(text)
    return(text)

In [227]:
df["CONTENT"]=df["CONTENT"].apply(lambda x:text_clearing(x))
df

      STAR                                            CONTENT  score
0      4.0                                 summer resort city      1
1      5.0  expositions absolument divine en heures dont u...      1
2      5.0  exhibition name tim burton special exhibition ...      1
3      5.0        tim burton exhibit incredible awesome place      1
4      5.0  see everything tim burton great exhibition won...      1
...    ...                                                ...    ...
1118   4.0  state art design surely one kind worth visit a...      1
1119   5.0  loved lit led roses thousands shops inside off...      1
1120   5.0  modern amazed architesture good visitors tour ...      1
1121   4.0  unique design attraction nice walk around stru...      1
1122   4.0  went around sunset time loved sunset beaming d...      1

[1123 rows x 3 columns]

어간(Stemming) 및 표제어(Lemmatization)

In [228]:
# Stemming
stemmer = PorterStemmer()
def text_stemming(text):
    text = text.lower()
    text = str(text)
    text = text.split()
    stem_words = []
    for w in text:
        x = stemmer.stem(w)
        stem_words.append(x)
    stem_words = " ".join(stem_words)
    return(stem_words)

In [229]:
df["STEM"]=df["CONTENT"].apply(lambda x:text_stemming(x))
df

,STAR,CONTENT,score,STEM
0,4.0,summer resort city,1,summer resort citi
1,5.0,expositions absolument divine en heures dont u...,1,exposit absolu divin en heur dont une sur la m...
2,5.0,exhibition name tim burton special exhibition ...,1,exhibit name tim burton special exhibit venu d...
3,5.0,tim burton exhibit incredible awesome place,1,tim burton exhibit incred awesom place
4,5.0,see everything tim burton great exhibition won...,1,see everyth tim burton great exhibit wonder dd...
...,...,...,...,...
1118,4.0,state art design surely one kind worth visit a...,1,state art design sure one kind worth visit app...
1119,5.0,loved lit led roses thousands shops inside off...,1,love lit led rose thousand shop insid offer un...
1120,5.0,modern amazed architesture good visitors tour ...,1,modern amaz architestur good visitor tour arou...
1121,4.0,unique design attraction nice walk around stru...,1,uniqu design attract nice walk around structur...
1122,4.0,went around sunset time loved sunset beaming d...,1,went around sunset time love sunset beam ddp w...

In [230]:
# Lemmatization
lemma = WordNetLemmatizer()
def text_lemmatizer(text):
    text = text.lower()
    text = str(text)
    text = text.split()
    lemmatizer_words = []
    for w in text:
        x = lemma.lemmatize(w)
        lemmatizer_words.append(x)
    lemmatizer_words = " ".join(lemmatizer_words)
    return(lemmatizer_words)

In [231]:
df["LEMMA"]=df["CONTENT"].apply(lambda x:text_lemmatizer(x))
df

,STAR,CONTENT,score,STEM,LEMMA
0,4.0,summer resort city,1,summer resort citi,summer resort city
1,5.0,expositions absolument divine en heures dont u...,1,exposit absolu divin en heur dont une sur la m...,exposition absolument divine en heures dont un...
2,5.0,exhibition name tim burton special exhibition ...,1,exhibit name tim burton special exhibit venu d...,exhibition name tim burton special exhibition ...
3,5.0,tim burton exhibit incredible awesome place,1,tim burton exhibit incred awesom place,tim burton exhibit incredible awesome place
4,5.0,see everything tim burton great exhibition won...,1,see everyth tim burton great exhibit wonder dd...,see everything tim burton great exhibition won...
...,...,...,...,...,...
1118,4.0,state art design surely one kind worth visit a...,1,state art design sure one kind worth visit app...,state art design surely one kind worth visit a...
1119,5.0,loved lit led roses thousands shops inside off...,1,love lit led rose thousand shop insid offer un...,loved lit led rose thousand shop inside offer ...
1120,5.0,modern amazed architesture good visitors tour ...,1,modern amaz architestur good visitor tour arou...,modern amazed architesture good visitor tour a...
1121,4.0,unique design attraction nice walk around stru...,1,uniqu design attract nice walk around structur...,unique design attraction nice walk around stru...
1122,4.0,went around sunset time loved sunset beaming d...,1,went around sunset time love sunset beam ddp w...,went around sunset time loved sunset beaming d...