In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Seoul Grand Park.csv')

In [3]:
word=pd.read_csv('C:/Users/gkxmr/topic1_자연경관경치/토픽1_서울대공원.csv')

In [4]:
df

     Unnamed: 0  STAR                                            CONTENT
0             0   5.0        There are 30000 roses each I like to relax
1             1   5.0   A leisurely promenade Seoul Land an art museu...
2             2   5.0   One of the most beautiful parks ever in three...
3             3   5.0  Seoul Grand Park is also known as Seoul zoo It...
4             4   5.0   It was so good and there were no people becau...
..          ...   ...                                                ...
319         319   3.0  There were a lot of animals here, but I didn't...
320         320   5.0  Seoul Zoo is a great place with or without kid...
321         321   4.0  This was a great experience taking the kids ou...
322         322   5.0  The two places I have enjoyed visiting at Seou...
323         323   5.0  Here you can find Seoul Land an amusement park...

[324 rows x 3 columns]

In [5]:
wordn=pd.DataFrame(word['부정'].dropna().reset_index())

In [6]:
wordn

   index               부정
0      2        worst/JJS
1      3         staff/NN
2      4         empty/JJ
3      5         small/JJ
4      6  disappointed/JJ
5      7           old/JJ

In [7]:
str=''
a=[]
result=pd.DataFrame()
for i in wordn.index:
    str=wordn['부정'][i].split('/')[0]
    a.append(str)
    print(a)
    dfk=pd.DataFrame()
    dfk=df[df['CONTENT'].str.contains(str)]
    dfk=dfk[['CONTENT']].rename(columns={ 'CONTENT':'서울대공원부정단어리뷰'})
    dfk.to_csv('text.csv')
    df_test=pd.read_csv('text.csv',chunksize=10000)
    for j in df_test:
        result=pd.concat([result,j])
        print(result)

['worst']
   Unnamed: 0                                        서울대공원부정단어리뷰
0         208   Convenience store friendliness is the worst T...
['worst', 'staff']
   Unnamed: 0                                        서울대공원부정단어리뷰
0         208   Convenience store friendliness is the worst T...
0         112     close too early The lift staff are unfriendly
1         264  We went there in August and it's too hot for u...
2         281  I visited the Gwacheon-located Seoul Grand Par...
3         294  This place was amazing and so big we couldn't ...
4         306  We are a family of four, we have a 9 year old ...
['worst', 'staff', 'empty']
   Unnamed: 0                                        서울대공원부정단어리뷰
0         208   Convenience store friendliness is the worst T...
0         112     close too early The lift staff are unfriendly
1         264  We went there in August and it's too hot for u...
2         281  I visited the Gwacheon-located Seoul Grand Par...
3         294  This place was amazing and so big we couldn't ...
4         306  We are a family of four, we have a 9 year old ...
0           5   Its summer and the animals are wet There are ...
1         179   It was a pity because there were so many empt...
2         237  This is a park in massive area which includes ...
3         240  I came here on an a Korean language class trip...
4         250  Seoul's Zoo, the Grand Park, is located by eas...
['worst', 'staff', 'empty', 'small']
    Unnamed: 0                                        서울대공원부정단어리뷰
0          208   Convenience store friendliness is the worst T...
0          112     close too early The lift staff are unfriendly
1          264  We went there in August and it's too hot for u...
2          281  I visited the Gwacheon-located Seoul Grand Par...
3          294  This place was amazing and so big we couldn't ...
4          306  We are a family of four, we have a 9 year old ...
0            5   Its summer and the animals are wet There are ...
1          179   It was a pity because there were so many empt...
2          237  This is a park in massive area which includes ...
3          240  I came here on an a Korean language class trip...
4          250  Seoul's Zoo, the Grand Park, is located by eas...
0          201   Unfortunately I think the cages of the animal...
1          221   As long as you have the stamina you cant real...
2          230  We drove. Traffic was pretty backed up getting...
3          233  I love visiting zoo’s and seeing different ani...
4          240  I came here on an a Korean language class trip...
5          250  Seoul's Zoo, the Grand Park, is located by eas...
6          260  We visited with a 3 year old and a 7 year old ...
7          266  The zoo is a part of Seoul Grand Park outside ...
8          269  Very nice and big zoo, we were there for 5 hou...
9          280  Recently I conducted a photo workshop focused ...
10         289  Perhaps I am just spoiled having recently visi...
11         291  I am big fan of ZOO's in general and I was loo...
12         307  Before I review the zoo at Seoul Grand Park, I...
13         317  I love animals and I love zoos -- when animals...
14         319  There were a lot of animals here, but I didn't...
['worst', 'staff', 'empty', 'small', 'disappointed']
    Unnamed: 0                                        서울대공원부정단어리뷰
0          208   Convenience store friendliness is the worst T...
0          112     close too early The lift staff are unfriendly
1          264  We went there in August and it's too hot for u...
2          281  I visited the Gwacheon-located Seoul Grand Par...
3          294  This place was amazing and so big we couldn't ...
4          306  We are a family of four, we have a 9 year old ...
0            5   Its summer and the animals are wet There are ...
1          179   It was a pity because there were so many empt...
2          237  This is a park in massive area which includes ...
3          240  I came here on an a Korean language class trip...
4          250  Seoul's Zoo, the Grand Park, is located by eas...
0          201   Unfortunately I think the cages of the animal...
1          221   As long as you have the stamina you cant real...
2          230  We drove. Traffic was pretty backed up getting...
3          233  I love visiting zoo’s and seeing different ani...
4          240  I came here on an a Korean language class trip...
5          250  Seoul's Zoo, the Grand Park, is located by eas...
6          260  We visited with a 3 year old and a 7 year old ...
7          266  The zoo is a part of Seoul Grand Park outside ...
8          269  Very nice and big zoo, we were there for 5 hou...
9          280  Recently I conducted a photo workshop focused ...
10         289  Perhaps I am just spoiled having recently visi...
11         291  I am big fan of ZOO's in general and I was loo...
12         307  Before I review the zoo at Seoul Grand Park, I...
13         317  I love animals and I love zoos -- when animals...
14         319  There were a lot of animals here, but I didn't...
0           22   The zoo is spacious so its nice to walk aroun...
1          237  This is a park in massive area which includes ...
2          243  Primarily came for the zoo. It's a bit overwhe...
3          251  We went together with 2 other families and the...
4          289  Perhaps I am just spoiled having recently visi...
['worst', 'staff', 'empty', 'small', 'disappointed', 'old']
    Unnamed: 0                                        서울대공원부정단어리뷰
0          208   Convenience store friendliness is the worst T...
0          112     close too early The lift staff are unfriendly
1          264  We went there in August and it's too hot for u...
2          281  I visited the Gwacheon-located Seoul Grand Par...
3          294  This place was amazing and so big we couldn't ...
4          306  We are a family of four, we have a 9 year old ...
0            5   Its summer and the animals are wet There are ...
1          179   It was a pity because there were so many empt...
2          237  This is a park in massive area which includes ...
3          240  I came here on an a Korean language class trip...
4          250  Seoul's Zoo, the Grand Park, is located by eas...
0          201   Unfortunately I think the cages of the animal...
1          221   As long as you have the stamina you cant real...
2          230  We drove. Traffic was pretty backed up getting...
3          233  I love visiting zoo’s and seeing different ani...
4          240  I came here on an a Korean language class trip...
5          250  Seoul's Zoo, the Grand Park, is located by eas...
6          260  We visited with a 3 year old and a 7 year old ...
7          266  The zoo is a part of Seoul Grand Park outside ...
8          269  Very nice and big zoo, we were there for 5 hou...
9          280  Recently I conducted a photo workshop focused ...
10         289  Perhaps I am just spoiled having recently visi...
11         291  I am big fan of ZOO's in general and I was loo...
12         307  Before I review the zoo at Seoul Grand Park, I...
13         317  I love animals and I love zoos -- when animals...
14         319  There were a lot of animals here, but I didn't...
0           22   The zoo is spacious so its nice to walk aroun...
1          237  This is a park in massive area which includes ...
2          243  Primarily came for the zoo. It's a bit overwhe...
3          251  We went together with 2 other families and the...
4          289  Perhaps I am just spoiled having recently visi...
0           71   There are many animals and it is good Unless ...
1           76   When I was young I went to Seoul Grand Park h...
2           80   Animals dont come out much because of Koryona...
3          101   Its a great place to go with kids It is bette...
4          131   Very large park very suitable for coming when...
5          132   Because it is cold there are no animals The e...
6          147   A 3yearold boy is totally obsessed with the e...
7          151   One of the best places to take children under...
8          153   Considering the costeffectiveness its just li...
9          154   Considering that it is a public facility it i...
10         172  I could feel the old memories The facility is old
11         231  Easter weekend travel to Seoul Korea and we kn...
12         244  Among all zoos I visited in my life, I think t...
13         245  My kid loves animals so it was her 1st time in...
14         252  We visited this Park in the night after 7pm, h...
15         259  I had an Amazing time there. I've been there t...
16         260  We visited with a 3 year old and a 7 year old ...
17         264  We went there in August and it's too hot for u...
18         269  Very nice and big zoo, we were there for 5 hou...
19         277  1. Very approachable, directly connected with ...
20         281  I visited the Gwacheon-located Seoul Grand Par...
21         289  Perhaps I am just spoiled having recently visi...
22         292  I like to visit zoos whenever I go on holidays...
23         299  went there in january really cold buts was a n...
24         301  the weather was v cold yesterday and there wer...
25         306  We are a family of four, we have a 9 year old ...
26         307  Before I review the zoo at Seoul Grand Park, I...
27         313  Guess choosing to go in winter was both a good...

In [8]:
num=[]
for i in wordn.index:
    print(a,i)
    dfk=df[df['CONTENT'].str.contains(a[i])]
    n=len(dfk.index)
    num.append(n)
print(num)

['worst', 'staff', 'empty', 'small', 'disappointed', 'old'] 0
['worst', 'staff', 'empty', 'small', 'disappointed', 'old'] 1
['worst', 'staff', 'empty', 'small', 'disappointed', 'old'] 2
['worst', 'staff', 'empty', 'small', 'disappointed', 'old'] 3
['worst', 'staff', 'empty', 'small', 'disappointed', 'old'] 4
['worst', 'staff', 'empty', 'small', 'disappointed', 'old'] 5
[1, 5, 5, 15, 5, 28]

In [9]:
li=[]
for i in range(len(num)):
    for j in range(num[i]):
        li.append(a[i])
print(li)

['worst', 'staff', 'staff', 'staff', 'staff', 'staff', 'empty', 'empty', 'empty', 'empty', 'empty', 'small', 'small', 'small', 'small', 'small', 'small', 'small', 'small', 'small', 'small', 'small', 'small', 'small', 'small', 'small', 'disappointed', 'disappointed', 'disappointed', 'disappointed', 'disappointed', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old', 'old']

In [10]:
new=pd.DataFrame( {'단어':li})
print(new)
print(result)

              단어
0          worst
1          staff
2          staff
3          staff
4          staff
5          staff
6          empty
7          empty
8          empty
9          empty
10         empty
11         small
12         small
13         small
14         small
15         small
16         small
17         small
18         small
19         small
20         small
21         small
22         small
23         small
24         small
25         small
26  disappointed
27  disappointed
28  disappointed
29  disappointed
30  disappointed
31           old
32           old
33           old
34           old
35           old
36           old
37           old
38           old
39           old
40           old
41           old
42           old
43           old
44           old
45           old
46           old
47           old
48           old
49           old
50           old
51           old
52           old
53           old
54           old
55           old
56           old
57           old
58           old
    Unnamed: 0                                        서울대공원부정단어리뷰
0          208   Convenience store friendliness is the worst T...
0          112     close too early The lift staff are unfriendly
1          264  We went there in August and it's too hot for u...
2          281  I visited the Gwacheon-located Seoul Grand Par...
3          294  This place was amazing and so big we couldn't ...
4          306  We are a family of four, we have a 9 year old ...
0            5   Its summer and the animals are wet There are ...
1          179   It was a pity because there were so many empt...
2          237  This is a park in massive area which includes ...
3          240  I came here on an a Korean language class trip...
4          250  Seoul's Zoo, the Grand Park, is located by eas...
0          201   Unfortunately I think the cages of the animal...
1          221   As long as you have the stamina you cant real...
2          230  We drove. Traffic was pretty backed up getting...
3          233  I love visiting zoo’s and seeing different ani...
4          240  I came here on an a Korean language class trip...
5          250  Seoul's Zoo, the Grand Park, is located by eas...
6          260  We visited with a 3 year old and a 7 year old ...
7          266  The zoo is a part of Seoul Grand Park outside ...
8          269  Very nice and big zoo, we were there for 5 hou...
9          280  Recently I conducted a photo workshop focused ...
10         289  Perhaps I am just spoiled having recently visi...
11         291  I am big fan of ZOO's in general and I was loo...
12         307  Before I review the zoo at Seoul Grand Park, I...
13         317  I love animals and I love zoos -- when animals...
14         319  There were a lot of animals here, but I didn't...
0           22   The zoo is spacious so its nice to walk aroun...
1          237  This is a park in massive area which includes ...
2          243  Primarily came for the zoo. It's a bit overwhe...
3          251  We went together with 2 other families and the...
4          289  Perhaps I am just spoiled having recently visi...
0           71   There are many animals and it is good Unless ...
1           76   When I was young I went to Seoul Grand Park h...
2           80   Animals dont come out much because of Koryona...
3          101   Its a great place to go with kids It is bette...
4          131   Very large park very suitable for coming when...
5          132   Because it is cold there are no animals The e...
6          147   A 3yearold boy is totally obsessed with the e...
7          151   One of the best places to take children under...
8          153   Considering the costeffectiveness its just li...
9          154   Considering that it is a public facility it i...
10         172  I could feel the old memories The facility is old
11         231  Easter weekend travel to Seoul Korea and we kn...
12         244  Among all zoos I visited in my life, I think t...
13         245  My kid loves animals so it was her 1st time in...
14         252  We visited this Park in the night after 7pm, h...
15         259  I had an Amazing time there. I've been there t...
16         260  We visited with a 3 year old and a 7 year old ...
17         264  We went there in August and it's too hot for u...
18         269  Very nice and big zoo, we were there for 5 hou...
19         277  1. Very approachable, directly connected with ...
20         281  I visited the Gwacheon-located Seoul Grand Par...
21         289  Perhaps I am just spoiled having recently visi...
22         292  I like to visit zoos whenever I go on holidays...
23         299  went there in january really cold buts was a n...
24         301  the weather was v cold yesterday and there wer...
25         306  We are a family of four, we have a 9 year old ...
26         307  Before I review the zoo at Seoul Grand Park, I...
27         313  Guess choosing to go in winter was both a good...

In [11]:
result=result.reset_index()
new=new.reset_index()
final_p=pd.concat([result,new],axis=1)

In [12]:
final_p

,index,Unnamed: 0,서울대공원부정단어리뷰,index,단어
0,0,208,Convenience store friendliness is the worst T...,0,worst
1,0,112,close too early The lift staff are unfriendly,1,staff
2,1,264,We went there in August and it's too hot for u...,2,staff
3,2,281,I visited the Gwacheon-located Seoul Grand Par...,3,staff
4,3,294,This place was amazing and so big we couldn't ...,4,staff
5,4,306,"We are a family of four, we have a 9 year old ...",5,staff
6,0,5,Its summer and the animals are wet There are ...,6,empty
7,1,179,It was a pity because there were so many empt...,7,empty
8,2,237,This is a park in massive area which includes ...,8,empty
9,3,240,I came here on an a Korean language class trip...,9,empty
10,4,250,"Seoul's Zoo, the Grand Park, is located by eas...",10,empty
11,0,201,Unfortunately I think the cages of the animal...,11,small
12,1,221,As long as you have the stamina you cant real...,12,small
13,2,230,We drove. Traffic was pretty backed up getting...,13,small
14,3,233,I love visiting zoo’s and seeing different ani...,14,small
15,4,240,I came here on an a Korean language class trip...,15,small
16,5,250,"Seoul's Zoo, the Grand Park, is located by eas...",16,small
17,6,260,We visited with a 3 year old and a 7 year old ...,17,small
18,7,266,The zoo is a part of Seoul Grand Park outside ...,18,small
19,8,269,"Very nice and big zoo, we were there for 5 hou...",19,small
20,9,280,Recently I conducted a photo workshop focused ...,20,small
21,10,289,Perhaps I am just spoiled having recently visi...,21,small
22,11,291,I am big fan of ZOO's in general and I was loo...,22,small
23,12,307,"Before I review the zoo at Seoul Grand Park, I...",23,small
24,13,317,I love animals and I love zoos -- when animals...,24,small
25,14,319,"There were a lot of animals here, but I didn't...",25,small
26,0,22,The zoo is spacious so its nice to walk aroun...,26,disappointed
27,1,237,This is a park in massive area which includes ...,27,disappointed
28,2,243,Primarily came for the zoo. It's a bit overwhe...,28,disappointed
29,3,251,We went together with 2 other families and the...,29,disappointed
30,4,289,Perhaps I am just spoiled having recently visi...,30,disappointed
31,0,71,There are many animals and it is good Unless ...,31,old
32,1,76,When I was young I went to Seoul Grand Park h...,32,old
33,2,80,Animals dont come out much because of Koryona...,33,old
34,3,101,Its a great place to go with kids It is bette...,34,old
35,4,131,Very large park very suitable for coming when...,35,old
36,5,132,Because it is cold there are no animals The e...,36,old
37,6,147,A 3yearold boy is totally obsessed with the e...,37,old
38,7,151,One of the best places to take children under...,38,old
39,8,153,Considering the costeffectiveness its just li...,39,old
40,9,154,Considering that it is a public facility it i...,40,old
41,10,172,I could feel the old memories The facility is old,41,old
42,11,231,Easter weekend travel to Seoul Korea and we kn...,42,old
43,12,244,"Among all zoos I visited in my life, I think t...",43,old
44,13,245,My kid loves animals so it was her 1st time in...,44,old
45,14,252,"We visited this Park in the night after 7pm, h...",45,old
46,15,259,I had an Amazing time there. I've been there t...,46,old
47,16,260,We visited with a 3 year old and a 7 year old ...,47,old
48,17,264,We went there in August and it's too hot for u...,48,old
49,18,269,"Very nice and big zoo, we were there for 5 hou...",49,old
50,19,277,"1. Very approachable, directly connected with ...",50,old
51,20,281,I visited the Gwacheon-located Seoul Grand Par...,51,old
52,21,289,Perhaps I am just spoiled having recently visi...,52,old
53,22,292,I like to visit zoos whenever I go on holidays...,53,old
54,23,299,went there in january really cold buts was a n...,54,old
55,24,301,the weather was v cold yesterday and there wer...,55,old
56,25,306,"We are a family of four, we have a 9 year old ...",56,old
57,26,307,"Before I review the zoo at Seoul Grand Park, I...",57,old
58,27,313,Guess choosing to go in winter was both a good...,58,old

In [13]:
final_p.to_csv('토픽1_서울대공원부정.csv')