In [1]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

nltk.download('vader_lexicon')
sia = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to C:\Users\LG-
[nltk_data]     PC\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [9]:
import pandas as pd
df = pd.read_csv('Dongdaemun Design Plaza.csv')
df['SCORE'] = (df['STAR']>3)
df=df.replace(True,"Positive")
df=df.replace(False,"Negative")
df

,Unnamed: 0,STAR,CONTENT,SCORE
0,0,4.0,a summer resort in the city,Positive
1,1,5.0,2 expositions absolument divine en 2 heures Do...,Positive
2,2,5.0,Exhibition Name Tim Burton Special Exhibition...,Positive
3,3,5.0,Tim Burton exhibit was incredible Awesome place,Positive
4,4,5.0,You can see everything about Tim Burton Great...,Positive
...,...,...,...,...
1118,1118,4.0,"State-of-the-art design, surely one of its kin...",Positive
1119,1119,5.0,"Loved the lit LED roses, thousands of them. An...",Positive
1120,1120,5.0,It is a modern and amazed architesture and it ...,Positive
1121,1121,4.0,Its unique design is an attraction. It's nice ...,Positive
1122,1122,4.0,Went here around sunset time. Loved how the su...,Positive

In [10]:
vd=[]
for a in df['CONTENT']:
    vd.append(sia.polarity_scores(a)['compound'])
df['COMPOUND']=vd
df

,Unnamed: 0,STAR,CONTENT,SCORE,COMPOUND
0,0,4.0,a summer resort in the city,Positive,0.0000
1,1,5.0,2 expositions absolument divine en 2 heures Do...,Positive,0.5574
2,2,5.0,Exhibition Name Tim Burton Special Exhibition...,Positive,0.4019
3,3,5.0,Tim Burton exhibit was incredible Awesome place,Positive,0.6249
4,4,5.0,You can see everything about Tim Burton Great...,Positive,0.8316
...,...,...,...,...,...
1118,1118,4.0,"State-of-the-art design, surely one of its kin...",Positive,0.9448
1119,1119,5.0,"Loved the lit LED roses, thousands of them. An...",Positive,0.5994
1120,1120,5.0,It is a modern and amazed architesture and it ...,Positive,0.8934
1121,1121,4.0,Its unique design is an attraction. It's nice ...,Positive,0.8176
1122,1122,4.0,Went here around sunset time. Loved how the su...,Positive,0.7925

In [16]:
senti = []
for a in df.COMPOUND.astype(float):
    if a >= 0.05:
        senti.append("Positive")
    elif a<= -0.05:
        senti.append("Negative")
    else: 
        senti.append("Neutral")

df["VADER"] = senti
df

,Unnamed: 0,STAR,CONTENT,SCORE,COMPOUND,VADER
0,0,4.0,a summer resort in the city,Positive,0.0000,Neutral
1,1,5.0,2 expositions absolument divine en 2 heures Do...,Positive,0.5574,Positive
2,2,5.0,Exhibition Name Tim Burton Special Exhibition...,Positive,0.4019,Positive
3,3,5.0,Tim Burton exhibit was incredible Awesome place,Positive,0.6249,Positive
4,4,5.0,You can see everything about Tim Burton Great...,Positive,0.8316,Positive
...,...,...,...,...,...,...
1118,1118,4.0,"State-of-the-art design, surely one of its kin...",Positive,0.9448,Positive
1119,1119,5.0,"Loved the lit LED roses, thousands of them. An...",Positive,0.5994,Positive
1120,1120,5.0,It is a modern and amazed architesture and it ...,Positive,0.8934,Positive
1121,1121,4.0,Its unique design is an attraction. It's nice ...,Positive,0.8176,Positive
1122,1122,4.0,Went here around sunset time. Loved how the su...,Positive,0.7925,Positive